<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLZZrXsOeedjBNa-P6_4aHii5bgga7gDM</string>
	<key>GCM_SENDER_ID</key>
	<string>422430995522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dori.Tinkoff</string>
	<key>PROJECT_ID</key>
	<string>tinkoff-business</string>
	<key>STORAGE_BUCKET</key>
	<string>tinkoff-business.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422430995522:ios:905938049f1fe0d4a1a9db</string>
</dict>
</plist>