<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgbWEo40UodQ6KXJHnprK6S0homzoZ_Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>1062235738689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dori.Tinkoff</string>
	<key>PROJECT_ID</key>
	<string>tinkoff-business-b5035</string>
	<key>STORAGE_BUCKET</key>
	<string>tinkoff-business-b5035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062235738689:ios:e18fff78cf9d7535deacc0</string>
</dict>
</plist>